#!/usr/bin/make -f

SCONSFLAGS=--no-cache -C src debug=1

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	SCONSFLAGS+= optim=-O0
else
	SCONSFLAGS+= optim=-O2
endif

override_dh_auto_build:
	scons $(SCONSFLAGS)

override_dh_auto_clean:
	scons $(SCONSFLAGS) -ccc
	rm -f src/.sconsign.dblite

override_dh_auto_install:
	scons $(SCONSFLAGS) DESTDIR=$(CURDIR)/debian/zfs-fuse install_dir=/sbin man_dir=/usr/share/man/man8 install
	install -m 644 contrib/zfsrc $(CURDIR)/debian/zfs-fuse/etc/zfs
	install -m 644 -T contrib/zfs_completion.bash $(CURDIR)/debian/zfs-fuse/etc/bash_completion.d/zfs-fuse

override_dh_installchangelogs:
	dh_installchangelogs CHANGES

override_dh_installinit:
	dh_installinit --no-start -- start 38 S . stop 39 0 6 .

%:
	dh $@
